/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-datepicker/dist/react-datepicker.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}



.bg-rainbow-gradient {
  background: linear-gradient(45deg,  #08ffb1, #fdb1be, #FFA500, #a515ff);
  background-size: 400% 400%;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s;
  animation: gradientAnimation 5s ease infinite;
}


/* globals.css or style.css */

/* Apply Montserrat for primary usage */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Use Poppins for secondary usage */
h2, h3, h4, h5, h6, .secondary-font {
  font-family: 'Poppins', sans-serif;
}

/* Use Pacifico for accents */
.accent-font {
  font-family: 'Pacifico', cursive;
}


.location-slider {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}