/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-datepicker/dist/react-datepicker.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}



.bg-rainbow-gradient {
  background: radial-gradient(circle,
    #FF5733,
    #FFC300,
    #DAF7A6,
    #33FF57,
    #33CFFF,
    #8D33FF);
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif; /* Example font to match Infimuse */
}


/* globals.css or style.css */

/* Apply Montserrat for primary usage */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Use Poppins for secondary usage */
h2, h3, h4, h5, h6, .secondary-font {
  font-family: 'Poppins', sans-serif;
}

/* Use Pacifico for accents */
.accent-font {
  font-family: 'Pacifico', cursive;
}


.location-slider {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}